@import "./styles/resetter.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    min-height: 100vh;
    height: max-content;
    background-color: #DAD6D3;
}

.title {
    @apply text-lg text-center sm:text-2xl 2xl:text-3xl
}